<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoppinglist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingList">
        <activity android:name=".stocks_activities.StockActivity"></activity>
        <!-- TODO: DELETE LATER -->
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.ShoppingList.NoActionBar" /> <!--  -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ShoppingList.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- BEGIN STOCK -->
        <activity
            android:name=".stocks_activities.StockListActivity"
            android:label="@string/title_activity_stock_list"
            android:theme="@style/Theme.ShoppingList.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
        </activity>
        <!-- END STOCK -->
        <!-- BEGIN SHOPPING LIST -->
        <activity
            android:name=".shoppinglists_activities.ShoppingListListActivity"
            android:label="@string/shopping_lists"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.ShoppingList.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".shoppinglists_activities.ShoppingListActivity"
            android:label="@string/shopping_list"
            android:parentActivityName=".shoppinglists_activities.ShoppingListListActivity"
            android:theme="@style/Theme.ShoppingList.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".shoppinglists_activities.ShoppingListListActivity" />
        </activity>
    </application>

</manifest>